<mat-tab-group>
    <mat-tab label="Word List">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="word">
              <th mat-header-cell *matHeaderCellDef> Word </th>
              <td mat-cell *matCellDef="let element"> {{element.word}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-tab>

    <mat-tab label="Preferences">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Storage settings
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <p>Erase all stored data.</p>
              <button mat-button color="warn" (click)="clearWordList()">Clear Database</button>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-tab>
</mat-tab-group>
  